{% extends "layout.html" %}
{% block content %}
<h1> Analyzing Results </h1>

<table style="width:100%">
	<tr>
		<th>{{syn}}</th> 
		<th>Probability</th>
		<th>Prediction</th>

	</tr>
	<tr>
		<td>DeepFace rep - knn</td>
		<td>{{ prob_df }} </td>
		<td>{{ pred_df }} </td>
	</tr>
	<tr>
		<td>Pointnet</td>
		<td>{{ prob_pn }} </td>
		<td>{{ pred_pn }} </td>
	</tr>
	<tr>
		<td>Random Forest</td>
		<td>{{ prob_rf }} </td>
		<td>{{ pred_rf }} </td>
	</tr>
	<tr>
		<td>Ensemble</td>
		<td>{{ mean_prob }} </td>
		<td>{{ mode_pred }} </td>
	</tr>
	

</table>
{% endblock content %}
