{% extends "layout.html" %}
{% block content %}
<h1> Analyzing Results <h1>
<div> Analyzing image {{filename}}</div>

<div>Probabilities using deepface and knn: </div>

<table style="width:100%">
	<tr>
		<th>Syndrome</th> 
		<th>Probability - DeepFace knn </th>
		<th>Probability - Pointnet </th>
		<th>Probability - RandomForest  </th>

	</tr>
	{% for index in indices %}
		<tr>
			<td>{{ syns[index] }} </td>
			<td>{{ probs_df[index] }} </td>
			<td>{{ probs_pn[index] }} </td>
			<td>{{ probs_rf[index] }} </td>
		</tr>
	{% endfor %}
</table>
{% endblock content %}
